<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Integrantes:</h2>
                    <p>Catalina Arias <br>
                        María Peña <br>
                        Felicitas Rattagan
                    </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>MakeLog</h2>
                    <p>Proyecto Final Programación 2</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <h2>Profesores:</h2>
                    <p>Adrián Gonzalez <br>Agustin Pittari</p>
                </article>
            </div>
        </div>
    </div>
</footer>