<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo2.png" />
	
	<title> MakeLog</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sen">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Notable">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tauri">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant SC">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pavanam">
</head>