<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %>

<body>

	<!-- Header -->
	<% if (locals.nombre!=undefined) { %>
		<%- include('./partials/headerLogueado.ejs')%>
	<%} else { %>
		<%- include('./partials/header.ejs')%>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form method="POST" action="/users/addproducts">
				<div class="mb-3">
					<label for="nombreProducto" class="form-label">Nombre del producto:</label>
					<input type="text" class="form-control" id="nombreProducto" name="nombre">
				  </div>
				  <div class="mb-3">
					<label for="descripcion" class="form-label">Descripción:</label>
					<input type="text" class="form-control" id="descripcion" name="descripcion">
				  </div>
				  <div class="mb-3">
					<label for="marca" class="form-label">Marca:</label>
					<input type="text" class="form-control" id="marca" name="marca">
				</div>
				<div class="mb-3">
				  <label for="seccion" class="form-label" name="seccion">Sección:</label><br>
				  <select id="seccion" name="seccion">
					<option value="brochas">Brochas</option>
					<option value="ojos">Ojos</option>
					<option value="labios">Labios</option>
					<option value="rostro">Rostro</option>
				  </select>
				</div>
				
				<div class="mb-3">
					<label for="img" class="form-label">Imagen:</label>
					<input type="file" id="imagen" class="form-control" name="img" accept="image/*">
				</div>
				<button type="submit" value="Registrarse" class="btn btn-primary">Submit</button>
			  </form>
			</div>
		</div>
			 


	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->
</body>

</html>