<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %>

<body>
	
	<%- include('./partials/headerLogueado.ejs') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>

			<form>
				<div class="mb-3">
					<label for="nuevoNombre" class="form-label">Cambiar nombre:</label>
					<input type="text" class="form-control" id="nuevoNombre">
				  </div>
				  <div class="mb-3">
					<label for="nuevoApellido" class="form-label">Cambiar apellido:</label>
					<input type="text" class="form-control" id="nuevoApellido">
				  </div>
				<div class="mb-3">
				  <label for="nuevoEmail" class="form-label">Cambiar Email:</label>
				  <input type="email" class="form-control" id="nuevoEmail" aria-describedby="emailHelp">
				  <div id="emailHelp" class="form-text">Nunca compartiremos tu email con alguien mas.</div>
				</div>
				<div class="mb-3">
					<label for="nuevoUsuario" class="form-label">Nuevo nombre de usuario:</label>
					<input type="text" class="form-control" id="usuario">
				  </div>
				<div class="mb-3">
				  <label for="nuevaPassword" class="form-label">Nueva contraseña:</label>
				  <input type="password" class="form-control" id="nuevaPassword">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Repetir nueva contraseña:</label>
					<input type="password" class="form-control" id="exampleInputPassword1">
				  </div>
				<button type="submit" value="Registrarse" class="btn btn-primary">Submit</button>
			  </form>

		


	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->
</body>

</html>