<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de registro. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>
			<form method="POST" action="/register/profile"> 
				<label for="nombre">Nombre:</label><br>
  					<input type="text" id="nombre" name="nombre"><br>
  				<label for="apellido">Apellido:</label><br>
  					<input type="text" id="apellido" name="apellido"><br>
				<label for="mail">Mail:</label><br>
					<input type="text" id="mail" name="mail"><br>
				<label for="Usuario">Usuario:</label><br>
					<input type="text" id="usuario" name="usuario"><br>
				<label for="contraseña">Contraseña:</label><br>
					<input type="password" id="contraseñña" name="contraseña"><br>
				<input type="submit" value="Registrarse">
			</form>


	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->
</body>

</html>