<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs')  %> 
	<!-- /Header -->

	<!-- Novedades -->

			<!-- Show the "ultimos" products -->

			<!--<form method="POST" action="/register/profile"> 
				<label for="nombre">Nombre:</label><br>
  					<input type="text" id="nombre" name="nombre"><br>
  				<label for="apellido">Apellido:</label><br>
  					<input type="text" id="apellido" name="apellido"><br>
				<label for="mail">Mail:</label><br>
					<input type="text" id="mail" name="mail"><br>
				<label for="Usuario">Usuario:</label><br>
					<input type="text" id="usuario" name="usuario"><br>
				<label for="contraseña">Contraseña:</label><br>
					<input type="password" id="contraseñña" name="contraseña"><br>
				<input type="submit" value="Registrarse">
			</form> -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Registrarse</h2>
					</div>

			<form method="POST" action="/users/register">
				<div class="mb-3">
					<label for="nombre" class="form-label">ID:</label>
					<input type="number" class="form-control" id="id" name="id">
				  </div>
				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre:</label>
					<input type="text" class="form-control" id="nombre" name="nombre">
				  </div>
				  <div class="mb-3">
					<label for="apellido" class="form-label">Apellido:</label>
					<input type="text" class="form-control" id="apellido" name="apellido">
				  </div>
				<div class="mb-3">
				  <label for="email" class="form-label">Email:</label>
				  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
				  <div id="emailHelp" class="form-text">Nunca compartiremos tu email con alguien mas.</div>
				</div>
				<div class="mb-3">
					<label for="usuario" class="form-label">Usuario:</label>
					<input type="text" class="form-control" id="usuario" name="usuario">
				  </div>
				  <div class="mb-3">
					<label for="edad" class="form-label">Edad:</label>
					<input type="number" class="form-control" id="edad" name="edad">
				  </div>
				<div class="mb-3">
				  <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
				  <input type="password" class="form-control" id="contraseña" name="contraseña">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Repetir contraseña:</label>
					<input type="password" class="form-control" id="contraseña">
				  </div>
				<button type="submit" value="Registrarse" class="btn btn-primary">Submit</button>
			  </form>
			</div>
		</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs')  %> 
	<!-- /footer -->
</body>

</html>